@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="fuente-personalizada" color="#00FF00" >HardwareStore</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>


<div class="testi_monial_section layout_padding">
    <div class="container">
        <div id="my_carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="testi_monila_text">GAME <span style="background-color: #0040FF; color: #fff; padding: 0px 5px;">PLAY</span></h1>
                    <div class="testimonila_inner">
                        <div class="testing_img"><img src="https://images2.alphacoders.com/105/thumb-1920-1052293.jpg"></div>

                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="testi_monila_text">Update <span style="background-color: #808080; color: #fff; padding: 0px 5px;">Harware</span></h1>
                    <div class="testimonila_inner">
                        <div class="testing_img"><img src="https://img.zonared.com/images/noticias/portada/50000/50176-h.jpg"></div>

                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="testi_monila_text">Play <span style="background-color: #00ffff; color: #fff; padding: 0px 5px;">Smart</span></h1>
                    <div class="testimonila_inner">
                        <div class="testing_img"><img src="https://spartangeek.com/blog/content/images/2018/04/las-mejores-computadoras-gamers.jpg"></div>

                    </div>
                </div>
            </div>
            @*<a class="carousel-control-prev" href="#my_carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>*@
            @*<a class="carousel-control-next" href="#my_carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@
        </div>
    </div>
</div>

<style>
    h1{
        color: chartreuse;
        
        
    }
</style>
